@model NgoProjectk3.Models.Account

@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Mylayout.cshtml";

}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    </div>
    <form>
        <div class="container">
            <h2>Register</h2>

            <div class="form-row justify-content-center ">

                <div class="form-group col-md-6 ">
                    <label class="font_">Email<span>(*)</span></label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control family", @placeholder = "name@gmail.com!" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-md-3">
                    <label class="font_">UserName<span>(*)</span></label>

                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control family", @placeholder = "input username !" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                </div>
                <div class="form-group col-md-3">
                    <label class="font_">PassWord<span>(*)</span></label>

                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control family", @placeholder = "input Password !" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })


                </div>
            </div>

            <div class="form-group col-md-12">
                <h3 style="text-align:center;">Communications</h3>
                <div style="text-align:center;">Enter contact information. Parts marked with <span>(*)</span> are required</div>

            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-md-4" >
                    <label class="font_">Full Name<span>(*)</span></label>

                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control family", @placeholder = "input FullName !" } })
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })

                </div>
                <div class="form-group col-md-2 ">
                    <label class="font_">Gender<span>(*)</span></label>
                    
                        @Html.DropDownListFor(model => model.Gender,
                       new List<SelectListItem> {
                            new SelectListItem { Value = "0" , Text = "Male" },
                            new SelectListItem { Value = "1" , Text = "Female" },
                            new SelectListItem { Value = "2" , Text = "Other" }
                         },

                       new { @class= "myselect form-control family" })
                   
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-row justify-content-center">

                <div class="form-group col-md-6">
                    <label class="font_">Address<span>(*)</span></label>

                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control family", @placeholder = "input address !" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })


                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-md-3">
                    <label class="font_">BirthDay<span>(*)</span></label>

                    @Html.EditorFor(model => model.BirthDay, new { htmlAttributes = new { @class = "form-control family" } })
                    @Html.ValidationMessageFor(model => model.BirthDay, "", new { @class = "text-danger" })


                </div>
                <div class="form-group col-md-3">
                    <label class="font_">Phone Number<span>(*)</span></label>

                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control family", @placeholder = "input phone !" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })



                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group fon">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary family" />
                    </div>
                </div>
            </div>

        </div>

    </form>







}

