@model NgoProjectk3.Models.Account

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Mylayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <div style="overflow-x:auto;">
    <table class="table table-bordered family">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BirthDay)
                </th>
                <th>

                    @Html.DisplayNameFor(model => model.Email)

                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeletedAt)
                </th>
                <th>
                
                    @Html.DisplayNameFor(model => model.CreatedAt)
               
                </th>
            </tr>
        </thead>
        <tr>
            <td>
                @Html.DisplayFor(model => model.UserName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Password)
            </td>
            <td>
                @Html.DisplayFor(model => model.Salt)
            </td>
            <td>
                @Html.DisplayFor(model => model.Role)
            </td>
            <td>
                @Html.DisplayFor(model => model.Status)
            </td>
            <td>
                @Html.DisplayFor(model => model.FullName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Gender)
            </td>
            <td>
                @Html.DisplayFor(model => model.Address)
            </td>
            <td>
                @Html.DisplayFor(model => model.BirthDay)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.Phone)
            </td>
            <td>
                @Html.DisplayFor(model => model.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(model => model.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(model => model.DeletedAt)
            </td>
            <td class="btn-group-sm">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary", @style = "color:white;" })
            </td>
        </tr>
    </table>
       </div>
</div>
<p>

    @Html.ActionLink("Black", "Index", new { id = Model.Id }, new { @class = "btn btn-dark", @style = "color:white;" })
</p>
