@model NgoProjectk3.Models.Account
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Mylayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
      
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center"><h2>Sign In</h2></h5>
                            <form class="form-signin">
                                <div class="form-label-group colorinput">
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "btn   btn-block  ", @placeholder="Email or UserName !" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    <br />
                                    <br/>
                                </div>

                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "btn  btn-block ",@placeholder="PassWord" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    <br />
                                    <br />
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                                </div>
                                <input type="submit" value="Login" class="btn btn-lg btn-primary  btn-block text-uppercase " style="color:white;" />
                                <hr class="my-4">
                                <button class="btn btn-lg btn-danger btn-block text-uppercase colorlogin"  style="color:white;"  type="submit"> Sign in with Google</button>
                                <button class="btn btn-lg Go  btn-block text-uppercase" type="submit"  style="color:white;"> Sign in with Facebook</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
