@model NgoProjectk3.Models.Account
@{
    /**/

    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Mylayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h2 class="card-title text-center">Sign In</h2>
                            <form class="form-signin">
                                <div class="form-label-group colorinput">
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "btn   btn-block   ", @placeholder = "Email or UserName !" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    <br />
                                    <br />
                                </div>

                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "btn  btn-block  ", @placeholder = "PassWord" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    <br />
                                    <br />
                                </div>
                                
                                <input id="btnLogin" type="button" value="Login" class="btn btn-lg btn-primary  btn-block text-uppercase " style="color:white;" />
                                <hr class="my-4">
                                <a href="create"><button class="btn btn-lg btn-danger btn-block text-uppercase colorlogin" style="color:white;" type="button"> Register</button></a>
                                                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#btnLogin').click(function () {
            var username = $('input[name="UserName"]').val();
            var password = $('input[name="Password"]').val();
            var url = 'Login';
            var data = {
                'UserName': username,
                'Password': password
            }
            $.ajax({
                method: 'POST',
                url: url,
                contentType: 'application/json',
                header: {
                    'content-type': 'application/json'
                },
                data: JSON.stringify(data),
                success: function (resp) {
                    localStorage.setItem("tokenkey", resp.AccessToken);
                    alert("Login Success");
                    window.location.href = "/";
                },
                error: function (jqXHR, exception) {
                    alert(jqXHR.responseText);
                    console.log(jqXHR);
                }
            });
        })
    </script>

}
