@model NgoProjectk3.Models.Donation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Mylayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Donation</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>







<table class="table table-bordered fon">
    <thead>
        <tr>
            <th class="thead-dark">
                @Html.DisplayNameFor(model => model.DonorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgramId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedAt)
            </th>
            <th></th>
        </tr>
    </thead>

    <tr>
        <td>
            @Html.DisplayFor(model => model.DonorId)
        </td>

        <td>
            @Html.DisplayFor(model => model.ProgramId)
        </td>
        <td>
            @Html.DisplayFor(model => model.Amount)
        </td>
        <td>
            @Html.DisplayFor(model => model.Status)
        </td>
        <td>
            @Html.DisplayFor(model => model.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(model => model.UpdatedAt)
        </td>
        <td>
            @Html.DisplayFor(model => model.DeletedAt)
        </td>

        <td class="btn-group-sm"></td>

    </tr>


</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id } ,new { @class = "btn btn-info ", @style = "color:white;" }) |
    @Html.ActionLink("Back", "Index", new {@class= "btn btn-primary", @style = "color:white;" }    


    )
</p>