@model IEnumerable<NgoProjectk3.Models.Donation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Mylayout.cshtml";
}


<div class="form-row justify-content-end">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn-success mx-2" style="background:green;" type="submit">Search</button>
    </form>
</div>
<br />

<div style="overflow-x:auto;">
    <table class="table table-bordered fon">
        <thead>
            <tr>
                <th class="thead-dark">
                    @Html.DisplayNameFor(model => model.DonorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeletedAt)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DonorId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ProgramId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeletedAt)
                </td>

                <td class="btn-group-sm">

                    @Html.ActionLink("Editt", "Edit", new { id = item.Id }, new { @class = "btn btn-info ", @style = "color:white;", }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success ", @style = "color:white" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger ", @style = "color:white" })

                </td>

            </tr>
        }

    </table>
</div>
