@model NgoProjectk3.Models.DonateProgram

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Mylayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div style="overflow-x:auto;">
   
    <hr />
    <table class="table table-bordered family">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th style="text-align:center">@Html.DisplayNameFor(model =>model.Amount)</th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeletedAt)
                </th>
            </tr>
        </thead>
        <tr>
            <td>@Html.DisplayFor(model => model.Category)</td>

            <td>@Html.DisplayFor(model => model.Name)</td>  
            <td>@Html.DisplayFor(model => model.Amount)</td>

            <td>@Html.DisplayFor(model => model.Content)</td>

            <td>@Html.DisplayFor(model => model.StartedAt)</td>

            <td>@Html.DisplayFor(Model => Model.CreatedAt)</td>

            <td>@Html.DisplayFor(Model => Model.UpdatedAt)</td>

            <td>@Html.DisplayFor(Model => Model.DeletedAt)</td>

            <td>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color btn-group-sm">
                        <input type="submit" value="Delete" class="btn btn-danger" />

                    </div>
                }
            </td>
        </tr>
    </table>
    <p>
        @Html.ActionLink("Black", "Index", new { id = Model.Id }, new { @class = "btn btn-dark", @style = "color:white;" })
    </p>
</div>
