@model NgoProjectk3.Models.DonateProgram

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Mylayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DonateProgram</h4>
    <hr />
    <table class="table table-bordered family" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeletedAt)
                </th>
            </tr>
        </thead>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Content)
            </td>
            <td>
                @Html.DisplayFor(model => model.StartedAt)
            </td>
            <td>
                @Html.DisplayFor(model => model.EndedAt)
            </td>
            <td>
                @Html.DisplayFor(model => model.Amount)
            </td>

            <td>
                @Html.DisplayFor(model => model.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(model => model.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(model => model.DeletedAt)
            </td>
            <td>
                @Html.ActionLink("Editt", "Edit", new { id = Model.Id }, new { @class = "btn btn-info ", @style = "color:white;" })
            </td>
        </tr>

    </table>

</div>
<p>
    @Html.ActionLink("Black", "Index", new { id = Model.Id }, new { @class = "btn btn-dark", @style = "color:white;" })
</p>
